@font-face {
    font-family: mainFont;
    src: url("./assets/josefinsans.ttf") format("woff");
}
$projectTitleSubColor:rgb(103, 103, 103);

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(249, 249, 249);
}

.header-container {
    background-color: white;
    box-shadow: 0 0 15px rgb(163, 163, 163);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .title-logo {
        height: 30px;
    }

    .title-info-hd{
        display: flex;
        height: 100%;
        width: 100%;

        .return-btn-container {
            width: 40px;
            display: flex;
            align-items: center;

            > button {
                display: block;
                margin: auto;
                height: 17px;
                width: 17px; 
                padding: 0;
                border: none;
                background-color: transparent;
                
                > img {
                    height: 100%;
                }
            }
        }

        .title {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "mainFont";
            color: dodgerblue;

            > * {
                font-size: 40px;

            }
        }

        .info-container {
            width: 100px;
            font-family: "mainFont";
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 12px;
            color: rgb(67, 67, 67);

            .header_task-count {
                font-weight: 600;
                color: orange;
            }

            .header_completed-task {
                font-weight: 600;
                color: green;
            }
        }
    }
}

.main-body {
    height: calc(100vh - 80px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer {
    height: 20px;
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer div {
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.5px;
}

.project_add-button {
    height: 30px;
    width: 60px;
    color: white;
    font-size: 20px;
    border: none;
    background-color: dodgerblue;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.project_add-project-modal-container {
    width: 250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    position: absolute;
    left: calc(50% - 125px);
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgb(186, 186, 186);
    transition: 0.3s;
    font-size: 13px;
    font-family: "mainFont";
    gap: 20px;

    .title-container {

        div {
            height: 10px;
        }

        input {
            background-color: rgb(217, 217, 217);
            border: none;
            border-radius: 5px;
        }

        p {
            color: red;
            font-size: 11.5px;
            display: none;
        }
    }

    .button-container {
        display: flex;
        gap: 5px;
        .submit-add-project {
                transition: 0.3s;
                background-color: dodgerblue;
                border: none;
                color: white;
                font-family: "mainFont";
                padding: 10px;
                width: auto;
                border-radius: 5px;
                flex: 1;
            }

        .cancel-add-project {
            @extend .submit-add-project;
            background-color: rgb(225, 71, 68);
            flex: 0.2;
        }
    }

    
}

.color-container {
    display: flex;
    justify-content: space-between;

    .color-picker {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: blue;
        cursor: pointer;
    }

    .color-picker--selected {
        @extend .color-picker;
        border: 2px solid dodgerblue;
    }
}

.repitition-type {
    .handle-container {
        .handle-rail {
            height: 20px;
            width: 50px;
            background-color: rgb(204, 204, 204);
            border-radius: 20px;
            cursor: pointer;
        }

        #handle-head {
            height: 20px;
            width: 20px;
            border-radius: 20px;
            background-color: white;
            position: relative;
            pointer-events: none;
            transition: 0.3s;
            right: -30px;
        }

        #handle-head--toggle {
            @extend #handle-head;
            right: 0px;
        }

        .date-input {
            display: block;
        }
    }

}

.single-project-container {
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: grid; 
    grid-template-columns: 60px 1fr 1fr 30px 30px;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(184, 184, 184);

    .single-project_tag-container {
        grid-area: 1 / 1 / 4 / 2;
        pointer-events: none;

        > * {
            height: 80%;
            margin: auto;
            display: block;
        }
    }

    .single-project_title-container {
        pointer-events: none;
        grid-area: 1/2/3/4;
        display: flex;
        align-items: center;
        padding-left: 20px;

        .title {
            font-size: 23px;
            color: rgb(59, 59, 59);
            font-family: "mainFont";
        }
    }

    .single-project_tasks-count-container {
        pointer-events: none;
        grid-area: 3/2/4/3;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .sptcc1 {
            color: $projectTitleSubColor;
            font-size: 13px;
            font-family: "mainFont";
        }

        .sptcc2 {
            font-weight: 600;
            color: rgb(172, 109, 20);
            font-family: "mainFont";
        }
    }

    .single-project_repeated-date-container {
        pointer-events: none;
        grid-area: 3/3/4/4;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            color: $projectTitleSubColor;
            font-size: 14px;
            font-family: "mainFont";
        }
    }

    .single-project_edit-button {
        grid-area: 2/4/3/5;
        img {
                width: 25px;
            }
    }

    .single-project_delete-button {
        grid-area: 2/5/3/6;
        img {
            width: 25px;
        }
    }
}

.title-logo-container {
    > * {
        height: 30px;
    }
}
